<div class="container">
  <div class="otp-container">
    <div class="header">
      <div class="title">Verify Your Email</div>
    </div>
    <input
      type="email"
      [(ngModel)]="email"
      placeholder="Enter your email"
      required
    />

    <div class="Verify_container">
      <div class="verifyOtp">
        <input type="text" [(ngModel)]="otp" placeholder="Enter OTP" />
      </div>
      <div class="btn-container">
        <button
          (click)="otpSent ? verifyOtp() : sendOtp()"
          [disabled]="isLoading || otpSent"
          id="verify-btn"
        >
          {{ otpSent ? "Verify OTP" : "Send OTP" }}
        </button>
      </div>
    </div>
    <div class="cancel-btn">
      <button (click)="cancel()" class="cancel-button">Cancel</button>
    </div>

    <!-- <p *ngIf="message">{{ message }}</p> -->
  </div>
</div>
