<div class="container">
  <!-- Spinner Overlay -->
 
  <div class="loading-overlay" *ngIf="isLoading">
    <div class="dot-loader">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>
  <div class="otp-container">
    <div class="header">
      <div class="title">Verify Your Email</div>
      <div class="sub-heading">Please enter your email to receive an OTP</div>
    </div>
    <div class="send-otp-container">
      <div class="email-container">
        <input
          type="email"
          [(ngModel)]="email"
          placeholder="Enter your email"
          required
        />
      </div>
      <div class="btn-container">
        <button (click)="sendOtp()" id="send-btn">Send OTP</button>
      </div>
    </div>
    <div class="Verify_container">
      <div class="verifyOtp">
        <input type="text" [(ngModel)]="otp" placeholder="Enter OTP" />
      </div>
      <div class="btn-container">
        <button (click)="verifyOtp()" id="verify-btn">Verify OTP</button>
      </div>
    </div>
    <div class="cancel-btn">
      <button (click)="cancel()" class="cancel-button">Cancel</button>
    </div>

    <!-- <p *ngIf="message">{{ message }}</p> -->
  </div>
</div>
