.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.reset-container {
  padding: 40px 20px;
  width: 30vw;
  background-color: #eafff3;
  border: 2px solid #0bd9b3;
  border-radius: 15px;
  box-shadow: 0 0 10px #0bd9b361;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border: 2px solid #0bd9b3;
  border-radius: 7px;
  font-size: 1em;
  margin: 10px 0;
  width: 100%;
  padding: 10px;
  background-color: #f9f9f9;
  outline: none;
}

#reset-btn {
  background-color: #28E94C;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 15px;
  width: 100%;
  font-size: 1em;
}

#reset-btn:hover {
  background-color: #23d243;
}

.back-link {
  margin-top: 20px;
  color: #007BFF;
  text-decoration: none;
}
.back-link:hover {
  text-decoration: underline;
}
