<nav>
  <div class="logo">IMS</div>
  <div class="title">Admin Dashboard</div>
  <div class="nav-links">
    <ul>
      <li>Home</li>
      <li>
        <select name="admin-select" id="admin-select" (change)="navigate($event)">
          <option value="" selected disabled>Account</option>
          <option value="manage">Manage</option>
          <option value="logout">Logout</option>
        </select>
      </li>
    </ul>
  </div>
</nav>

<div class="approve-container">
  <table>
    <tr>
      <th>Sr.No</th>
      <th>Name</th>
      <th>Email</th>
      <th>Store Type</th>
      <th>Payment status</th>
      <th>Status</th>
      <th>Payment Receipt</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let user of usersArray; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ user.full_name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.store_type }}</td>
      <td>{{ user.paymentStatus ? 'Paid' : 'not paid'}}</td>
      <td [ngStyle]="{ color: getStatusColor(user.status) }">
        {{ user.status }}
      </td>
   <td>
  <h4 
    *ngIf="user.paymentStatus" 
    (click)="fetchTransaction(user.id)" 
    class="check-payment">
    check here
  </h4>
  <span *ngIf="!user.paymentStatus">not yet</span>
</td>
      <td id="action">
        <button id="approve" (click)="approveUser(user.id)">
          <img src="../../../../assets/logos/approve-black.png" width="25px" alt="" />
        </button>
        <button id="reject" (click)="rejectUser(user.id)">
          <img src="../../../../assets/logos/reject-black.png" width="25px" alt="" />
        </button>
      </td>
    </tr>
  </table>
</div>

<div class="overlay" *ngIf="showOverlay">
  <div class="overlay-content" *ngFor="let transaction of transactions">
  <div>
     <img
            [src]="getImageUrl(transaction.transactionId)"
            width="300" height="400"
            alt="screenshot"
          />
  </div>
    
    <h3>{{transaction.amount}}₹</h3>
    <h5>Date of subscription : {{transaction.createdAt}}</h5>
    <h5>UTR no : {{transaction.transactionId}}</h5>
    <button (click)="cancel()">Back</button>
  </div>
</div>