/* Centering the login container */

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #cafaff;
}
.forgot-password-container{
  border: 2px solid #64dce2;
  border-radius: 7px;
  padding: 10px 20px;
}
.title{
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em auto;
}
input {
  background-color: transparent;
  outline: none;
  border: 2px solid #64dce2;
  border-radius: 7px;
  height: 6vh;
  min-width: 25vw; /* Increased width */
  padding-left: 12px;
  margin: 0.5em 0;
  font-size: 1em;
  transition: all 0.3s ease-in-out;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px; /* space for icon */
  height: 6vh;
  padding-left: 10px;
}

.toggle-password {
  padding-right: 20px;
  position: absolute;
  right: 10px;
  color: #4c4c4c4b;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease, color 0.2s ease;
}

.toggle-password:hover {
  color: #000;
}

.btn-container button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #64dce2;
  border-radius: 7px;
  color: #fff;
  border: none;
  font-size:1.2em ;
  padding: 10px 20px;
  margin: 10px auto;
  transition: all .2s ease-in-out;
}
.btn-container button:hover{
  cursor: pointer;
  background-color: #5ac4cad2;
}
/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .login-container {
    flex-direction: column;
    padding: 2em;
    width: 80%;
  }

  input,
  button {
    width: 70%;
  }
}

@media (max-width: 768px) {
  input,
  button {
    width: 80%;
  }
}

.signup-alert {
  font-size: 0.8em;
  margin-left: 10px;
  color: red;
}

.signup-alert ul {
  text-decoration: none;
  list-style: none;
}

/* === Password Field with Icon === */
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px; /* space for icon */
  height: 40px; /* Match all other inputs */
  padding-left: 10px;
}

.toggle-password {
  padding-right: 20px;
  position: absolute;
  right: 10px;
  color: #4c4c4c4b;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease, color 0.2s ease;
}

.toggle-password:hover {
  color: #000;
}
