<div id="nav-container">
  <div id="navbar">
    <div id="logo">
      <img src="../../../../assets/logos/inventory-black.png" width="20" height="20" alt="Inventory Logo">
      <h5>IMS</h5>
    </div>

  </div>


    
    <button class="btn logout" (click)="logOut()">Log Out</button>
    
 
</div>


<div class="cards-container" *ngIf="!isPlanSelected && !isPaymentDone">
  <div class="card" *ngFor="let sub of subscriptions" [class.selected]="selectedPlan.title === sub.title">
    <h2>{{ sub.title }}</h2>
    <p class="price">{{ sub.price }}</p>
    <p class="description">{{ sub.description }}</p>
    <button (click)="selectPlan(sub)">Subscribe</button>
  </div>
</div>


<div class="payment-container" *ngIf="isPlanSelected && !isPaymentDone">
  <div *ngIf="qrUrl">
    <h2 class="payment-title">Scan & Pay</h2>
    <img class="img-scanner" [src]="qrUrl" alt="QR Code" />
  </div>
  <h3 class="payment-amount">Payment Amount: {{selectedPlan.price}}₹</h3>


  <label for="utrInput">Add UTR you have recived on your payment app</label>
  <input class="utr-input" type="text" name="utrInput" [(ngModel)]="utr" placeholder="Enter UTR" />

  <div class="form-group">
          <label for="product-image">Upload screenshot</label>
          <input
            type="file"
            name="product-image"
            #fileInput
         
          />
        </div>
  <div class="payment-buttons">
    <button class="btn primary" (click)="createPayment()">Submit</button>
    <button class="btn secondary" (click)="cancelPayment()">Cancel</button>
  </div>
</div>

<div class="payment-container" *ngIf="isPaymentDone">
  <img src="../../../../../assets/paymentDone.jpg" width="100" height="100" alt="img"/>
 <h1>Your payment is done waiting for approval</h1>
</div>



